body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

body {
	color: #333;
	background: #fff;
	font-family: Helvetica, Arial, sans;
}


a { color: #099; }

h1 {
	font-weight: normal;
}

#lemma {
	font-style: italic;
	font-family: Georgia, 'Times New Roman', serif;
}

#container {
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

	#pointer {
		width: 100px;
		height: 100px;
		background: #0ff;
		border-radius: 50px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -100;
		transition-property: opacity;
		transition-duration: 0.5s;
	}
		#pointer.inactive {
			opacity: 0;
		}

	#toggle {
		cursor: pointer;
		padding: 20px;
		margin: 40px auto;
		background: rgba(220, 220, 220, 0.8);;
		text-align: center;
		transition-duration: 0.5s;
		opacity: 0;
	}

	#controls {
		transition-duration: 0.5s;
		transition-function: ease-in-out;
		margin: 20px 0;
	}

		#controls.inactive {
			opacity: 0.1;
		}

		#frequency, #note {
			font-family: Courier, 'Courier New', mono;
		}

		#frequency {
			font-size: 15vw;
		}

		#note {
			font-size: 20vw;
		}

		.inactive {
			opacity: 0.4;
		}


@media(min-width: 1024px) {
	#container {
		width: 50%;
	}
	
	#toggle {
		width: 30%;
	}
	
	#controls {
		margin: 60px 0;
	}
	
	#frequency {
		font-size: 80px;
	}
	
	#font-size: 200px;
}
